# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Mac system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore VSCode settings
.vscode/

# Ignore logs
*.log

# Ignore environment files
.env
